variables:
  GITHUB_REPO_URL: 'https://$(GITHUB_TOKEN)@github.com/Avocus/FrontEnd.git'

trigger:
  branches:
    include:
      - main  # Executa o pipeline quando a branch 'main' for atualizada

pool:
  name: 'Default'

steps:    
  # Passo 1: Configurar o Git
  - script: |
      git config --global user.email "avocuss@gmail.com"
      git config --global user.name "Avocuss"
    displayName: 'Configurar Git'

  # Passo 2: Clonar o repositório da Azure (código atual)
  - checkout: self

  # Passo 3: Adicionar o repositório do GitHub como remote
  - script: |
      git remote add github https://$(GITHUB_TOKEN)@github.com/Avocus/FrontEnd.git
      git fetch github
    displayName: 'Adicionar GitHub como remote'

  # Passo 4: Limpar o repositório local (remover arquivos não rastreados)
  - script: |
      git checkout main
      git fetch origin
      git clean -fd  # Remover arquivos não rastreados
      git reset --hard origin/main  # Garantir que o repositório local seja igual ao da Azure
    displayName: 'Limpar histórico local e atualizar com o conteúdo da Azure'

  # Passo 5: Forçar o envio do repositório da Azure para o GitHub, sobrescrevendo qualquer histórico
  - script: |
      git push --force github main  # Enviar para o GitHub, forçando a substituição do histórico
    displayName: 'Push forçado para o GitHub'
