variables:
- name: VERCEL_TOKEN
  value: initialValue 

trigger:
  branches:
    include:
      - main  # Executa apenas quando a branch 'main' for atualizada

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '20.17.0' # Use a versão do Node compatível com seu projeto

  - script: |
      npm install -g vercel
      vercel pull --yes --environment=production --token=${{ variables.VERCEL_TOKEN }}
      vercel build --prod --token=${{ variables.VERCEL_TOKEN }}
      vercel deploy --prod --token=${{ variables.VERCEL_TOKEN }}
    displayName: 'Deploy no Vercel'
