variables:
  GITHUB_TOKEN_ACESS: $(GITHUB_TOKEN)

trigger:
  branches:
    include:
      - main  # Executa o pipeline quando a branch 'main' for atualizada

pool:
  name: 'Default'

steps:
  - script: |
     echo "Verificando o token do Vercel"
     echo $(VERCEL_TOKEN)
    displayName: 'Verificar VERCEL_TOKEN'

    
  # Passo 1: Configurar o Git
  - script: |
      git config --global user.email "avocuss@gmail.com"
      git config --global user.name "Avocuss"
    displayName: 'Configurar Git'

  # Passo 2: Clonar o repositório do Azure
  - checkout: self

  # Passo 3: Adicionar o repositório do GitHub como remote
  - script: |
      git remote add github https://$(GITHUB_TOKEN_ACESS)@github.com/Avocus/FrontEnd.git
      git fetch github
    displayName: 'Adicionar GitHub como remote'

  # Passo 4: Fazer push da branch main para o GitHub
  - script: |
      git push github main:main
    displayName: 'Push para o GitHub'